.home-page-container{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-div{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.napoleon-div{
    width: 600px;      
    height: auto;      
    margin-top: 1rem;
    margin-left: auto;
}


.hero-div h1{
    font-family: 'antialiased';
    font-size: 90px;
    font-weight: 700;
    color: #b32603;
    text-align: center;
    text-transform: uppercase;
}

.hero-div h3{
    text-align: center;
}

.side-modal .modal-dialog {
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  height: 100vh;
  max-width: 380px; 
  transform: none !important;
}

.side-modal .modal-content {
  height: 100vh;
  border-radius: 0;
}
