.actions-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.actions-modal-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 9px solid #700202;
}

.actions-modal-content h2 {
    text-align: center;       /* Centrado */
    color: #700202;      /* Cambia este color al que quieras */
    font-size: 34px;          /* Más grande (opcional) */
    margin-bottom: 15px;      /* Un poco de separación */
}

.actions-modal-content button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #cf1313;
    color: white;
    cursor: pointer;
}

.actions-modal-content button:hover {
    background: #680000;
}

.close-btn {
    background: #700202 !important;
}
