.selectAvatar{
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: all 0.2s;
    background-color: #f0f0f0;
}

.selectAvatar:hover {
    border-color: #694b75;
    transform: scale(1.1);
}

.selectAvatar.selected {
    border: 3px solid #007bff;
}