
.home-title{
    font-family: 'Playbill';
    color: 'black';
    flex-direction: column;
    align-items: center;
    font-size: 1000%;
    
}

.home-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-left: 20%;
    
}

.home-buttons{
    gap: 15px;
    flex-direction: column;
    display: flex;
    font-size: 300%;
    font-weight: bold;
}

.create-button{
    background-color: #FF6467;
    border-radius: 5px;
    border: none;
}

.join-button{
    background-color: #51A2FF; 
    border-radius: 5px;
    border: none;
}