.actions-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.actions-modal-content {
    background: #ffecdb;
    padding: 20px;
    border-radius: 12px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 5px solid #ff7f00;
}

.actions-modal-content h2 {
    text-align: center;       /* Centrado */
    color: #ff7f00;      /* Cambia este color al que quieras */
    font-size: 34px;          /* Más grande (opcional) */
    margin-bottom: 15px;      /* Un poco de separación */
}

.actions-modal-content button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #ffb876;
    color: white;
    cursor: pointer;
    border: 3px solid #ff7f00;
}

.actions-modal-content button:hover {
    background: #f7934d;
}

.actions-escape-disabled {
    background: #8a8a8a !important;
    cursor: not-allowed;
    opacity: 0.82;
    border: 3px solid #8a8a8a !important;
}

.actions-escape-disabled:hover {
    background: #8a8a8a !important;
    border: 3px solid #8a8a8a !important;
}

.actions-close-btn {
    background: #5db9eb !important;
    border: 3px solid #2ba5e7 !important;
}
.actions-close-btn:hover {
    background: #2ba5e7 !important;
    border: 3px solid #2ba5e7 !important;
}
