.steal-card-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.steal-card-modal-content {
    background: #ffb876;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    border: 5px solid #ff7f00;
}

.steal-card-modal-button-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50%;
}

.steal-button{
    padding: 8px 16px;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s ease;
    font-weight: bold;
}

.steal-button:hover:not(:disabled) {
    background: #9cdefa;
    transform: scale(1.05);
}

.steal-card-img{
    cursor: pointer;
}

.steal-card-img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}